<%# The image viewer, contained in a partial. Might later change this to
    some kind of JS templates or other fancy JS, instead of just server-side
    HTML all pre-rendered invisible on page like it is now.

    local args:
      * work
 %>
<div id="chf-image-viewer-modal" class="modal" tabindex="-1" role="dialog"
     data-images-info-path="<%= main_app.viewer_images_info_path(work) %>"
     data-work-id="<%= work.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id= "chf-image-viewer" class="chf-image-viewer">
          <div class="viewer-header">

            <%= link_to main_app.root_path do %>
              <%= image_tag "partial-mark-75rotate-80.png", class: "chf-logo", alt: "Science History Institute" %>
            <% end %>

            <h1>
              <a data-trigger="chf_image_viewer_close" href="#"><%= work.title.first %></a>
            </h1>

            <a href="#" data-trigger="chf_image_viewer_close" class="header-close">
              <i class="fa fa-times"></i>
            </a>
          </div>

          <div class="viewer-content">
            <div class="viewer-image-and-navbar" data-alert-container>
              <div class="viewer-image" id="openseadragon-container">
                <button href="#" id="viewer-left" class="viewer-image-prev" data-trigger="viewer-prev" tabindex="0"><i class="fa fa-chevron-left" title="Previous"></i></button>
                <button href="#" id="viewer-right" class="viewer-image-next" data-trigger="viewer-next" tabindex="0"><i class="fa fa-chevron-right" title="Next"></i></button>
              </div>

              <%= render "chf_image_viewer_navbar", work: work %>
            </div>

            <%# just some DOM content that the viewer.js will copy into download
                menus, we use same rights statement for all members, filesets don't
                even have rights data, so. would probably be better to commicate
                this some way other than DOM. %>
            <% if work.rights_url %>
              <div style="display: none" class="parent-rights-inline">
                <%= render_rights_statement(work) %>
              </div>
            <% end %>

            <%# will be filled by JS, from json endpoint data %>
            <%= content_tag "div", "", id:"viewer-thumbs", class: "viewer-thumbs", data: { total_count: work.viewable_member_presenters.count } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
