<div class="show-actions">
  <% if Sufia.config.analytics %>
    <%= link_to "Analytics", presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if presenter.editor? %>
      <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      <%# check the solr document so we don't retrieve from fedora on show page %>
      <% if current_ability.can?(:destroy, presenter.solr_document) %>
        <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
      <% end %>
      <% if presenter.member_presenters.size > 1 %>
          <%= link_to t("file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'btn btn-default' %>
      <% end %>
  <% end %>
  <% if presenter.display_feature_link? %>
      <%= link_to "Feature", sufia.featured_work_path(presenter, format: :json),
          data: {behavior: 'feature'}, id: 'featureLink', name: 'featureLink', class: 'btn btn-default' %>
  <% end %>
  <% if presenter.display_unfeature_link? %>
      <%= link_to "Unfeature", sufia.featured_work_path(presenter, format: :json),
          data: {behavior: 'unfeature'}, id: 'unfeatureLink', name: 'unfeatureLink', class: 'btn btn-default' %>
  <% end %>
<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
</div>
