<% provide :page_title, @presenter.page_title %>

<% content_for :head do %>
  <%= render "chf_meta_tags", presenter: @presenter  %>
<% end %>

<div class="work-show" itemscope <%= @presenter.microdata_type_to_html %> class="row">

  <% if current_ability.current_user.staff? %>
    <div class="show-admin">
      <%= render "show_actions", presenter: @presenter %>
      <%= render 'workflow_actions_widget', presenter: @presenter %>
    </div>
  <% end %>

  <div class="show-title">
    <header>
      <% if @presenter.needs_permission_badge? %>
        <div class="show-permission-badge">
          <%= @presenter.permission_badge %>
        </div>
      <% end %>

      <% if @presenter.has_values_for?(Solrizer.solr_name("genre_string", :stored_searchable)) %>
        <div class="show-genre">
          <%= @presenter.field_value(Solrizer.solr_name("genre_string", :stored_searchable), join_type: :separator) %>
        </div>
      <% end %>

      <h1><%= @presenter.title.first %></h1>

      <% if @presenter.additional_title.present? %>
        <ul class="additional-titles list-unstyled">
          <% @presenter.additional_title.each do |title| %>
            <li><h2><%= title %></h2></li>
          <% end %>
        </ul>
      <% end %>

      <% if @presenter.parent_work_presenters.present? || @presenter.source.present? %>
        <ul class="parent-works list-unstyled">
          <% (@presenter.parent_work_presenters || []).each do |parent| %>
            <li>Part of <%= link_to Array(parent.title).first, [main_app, parent] %></li>
          <% end %>
          <% (@presenter.source || []).each do |source| %>
            <li> Part of <i><%= source %></i></li>
          <% end %>
        </ul>
      <% end %>

      <% if @presenter.has_values_for?(Solrizer.solr_name('date_of_work', :stored_searchable)) %>
        <div class="show-date">
          <%= @presenter.field_value(Solrizer.solr_name("date_of_work", :stored_searchable), join_type: :list) %>
        </div>
      <% end %>

    </header>
  </div>

  <div class="show-representative">
      <% if representative_presenter = @presenter.respond_to?(:direct_representative_presenter) ? @presenter.direct_representative_presenter : @presenter.representative_presenter %>
        <%= render 'show_page_image', member: representative_presenter, size: :large %>
      <% else %>
        <%= image_tag default_image(member: @presenter) %>
      <% end %>
      <div class="rights-and-social">
        <% if @presenter.has_rights_statement? %>
            <%= link_to @presenter.rights_url, target: "_blank", class: 'rights-statement large' do %>
              <%= image_tag(@presenter.rights_icon, class: "rights-statement-logo")  %>
              <span class="rights-statement-label"><%= @presenter.rights_icon_label %></span>
            <% end %>
        <% else %>
          <%# hacky spacer to keep flexbox intact and social-media on the right even
              if there's no rights %>
          <div class="rights-placeholder"></div>
        <% end %>
        <%= render 'social_media', presenter: @presenter %>
      </div>
  </div>



  <div class="show-metadata">
    <%= render 'work_description', presenter: @presenter %>



    <table class="<%= dom_class(@presenter) %> chf-attributes">
        <%= @presenter.attribute_to_html(:artist, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:author, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:addressee, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:creator_of_work, render_as: :faceted, search_field: 'maker_facet' ) %>
        <%= @presenter.attribute_to_html(:engraver, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:interviewee, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:interviewer, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:manufacturer, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:photographer, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:contributor, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:after, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:printer, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:printer_of_plates, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:publisher, render_as: :faceted, search_field: 'maker_facet') %>
        <%= @presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim' ) %>
        <%= @presenter.attribute_to_html(:place_of_creation, render_as: :faceted, search_field: 'place_facet') %>
        <%= @presenter.attribute_to_html(:place_of_interview, render_as: :faceted, search_field: 'place_facet') %>
        <%= @presenter.attribute_to_html(:place_of_manufacture, render_as: :faceted, search_field: 'place_facet') %>
        <%= @presenter.attribute_to_html(:place_of_publication, render_as: :faceted, search_field: 'place_facet') %>
        <%= @presenter.attribute_to_html(:resource_type, render_as: :faceted, label: "Format" ) %>
        <%= @presenter.attribute_to_html(:genre_string, render_as: :faceted) %>
        <%= @presenter.attribute_to_html(:medium, render_as: :faceted) %>
        <%= @presenter.attribute_to_html(:extent) %>
        <%= @presenter.attribute_to_html(:language, render_as: :faceted ) %>
        <%= @presenter.attribute_to_html(:inscription) %>
        <%= @presenter.attribute_to_html(:subject, render_as: :faceted ) %>

        <%= @presenter.attribute_to_html(:rights, render_as: :rights) %>
        <%= @presenter.attribute_to_html(:rights_holder) %>
        <%= @presenter.attribute_to_html(:related_url, render_as: :chf_related_url) %>

        <%# @presenter.attribute_to_html(:credit_line)
             hard-coded credit line instead of taking from record %>
        <tr>
          <th>Credit line</th>
          <td>
            <ul class="tabular">
              <li class="attribute credit_line">Courtesy of Science History Institute</li>
            </ul>
          </td>
        </tr>

        <%= @presenter.attribute_to_html(:additional_credit) %>
    </table>

    <div class="show-user-actions">
      <div class="btn-group" role="group">
        <%= link_to main_app.curation_concerns_generic_work_path(@presenter.id, format: "ris"), class: "btn btn-sm btn-primary export-citation" do %>
          <i class="fa fa-address-card"></i> Export citation (RIS)
        <% end %>
        <a class="btn btn-brand-dark btn-sm" tabindex="0" role="button" data-toggle="popover" data-placement="bottom"
           data-container="body"
           data-html="true"
           data-trigger="focus"
           data-template='<div class="popover popover-citation-help" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
           data-content="The RIS format can be imported into most reference management software, including
            <a target='_blank' href='https://www.zotero.org/'>Zotero</a>,
            <a target='_blank' href='https://www.mendeley.com/reference-management/reference-manager'>Mendeley</a>,
            <a target='_blank' href='http://endnote.com/'>EndNote</a>,
            and <a href='https://www.refworks.com'>Refworks</a>.">
          <b>?</b>
        </a>
      </div>
    </div>


    <h2 class="attribute-sub-head">Physical location</h2>
    <table class="<%= dom_class(@presenter) %> chf-attributes">
        <%= @presenter.attribute_to_html(:division, label: "Department", render_as: :faceted) %>
        <%= @presenter.attribute_to_html(:exhibition, render_as: :faceted) %>

        <% if @presenter.in_collection_presenters.present? %>
          <tr>
            <th>Collection</th>
            <td>
              <ul class="tabular">
                <% @presenter.in_collection_presenters.each do |parent| %>
                  <li><%= link_to Array(parent.title).first, [main_app, parent] %></li>
                <% end %>
              </ul>
            </td>
        <% end %>

        <%= @presenter.attribute_to_html(:series_arrangement) %>
        <%= @presenter.attribute_to_html(:physical_container) %>

        <% if @presenter.urls_to_catalog.present? %>
          <tr>
            <td colspan=2 class="catalog-links">
            <% @presenter.urls_to_catalog.each do |url| %>
              <%= content_tag "a", "View in library catalog", href: url %>
            <% end %>
            </td>
          </tr>
        <% end %>
    </table>

    <%# TODO get rid of _attribute_rows entirely, no longer using? %>

    <% if current_ability.current_user.staff? %>
      <h2 class="attribute-sub-head">Staff-only information</h2>

      <table class="<%= dom_class(@presenter) %> chf-attributes">
        <tr>
          <th>Last modified</th>
          <td><%= @presenter.date_modified %></td>
        </tr>

        <%= @presenter.attribute_to_html(:identifier, render_as: :identifier) %>
        <%= @presenter.attribute_to_html(:file_creator) %>
        <%= @presenter.attribute_to_html(:admin_note) %>
        <%= @presenter.attribute_to_html(:embargo_release_date, render_as: :date) %>
        <%= @presenter.attribute_to_html(:lease_expiration_date, render_as: :date) %>
        <%# CHF edit: remove rights; we put it higher up in the metadata list. %>
      </table>
    <% end %>
  </div>


  <%# these are not in a div so they can wrap around the bottom of the metadata
      div to take up all space. Experiment? Hack to make sure they start after
      big representative image %>
  <div style="clear: left"></div>

  <%= render partial: 'show_page_image',
             collection: @presenter.show_thumb_member_presenters,
             as: :member,
             locals: {
               extra_classes: 'thumb',
               size: :standard,
               lazy_after: 6
             }
  %>
</div>

<%= render 'chf_image_viewer', work: @presenter  %>

