// This weird absolute positioning calculated body margin comes from sufia, not sure why it's needed,
// but I couldn't avoid bottom white space under footer without it.
$footer-height: 333px;
$footer-height-xs: 600px;
$footer-top-margin: 0;

body {
  margin-bottom: $footer-height + $footer-top-margin;
}
#footer {
  display: block;
  background-color: $brand-inverse;
  background-image: asset-url('scihist_foot_sym.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 40px 20px 0 20px;
  margin-top: $footer-top-margin;
  margin-bottom: 0;

  // keep footer at bottom of viewport
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;

  .footer-title {
    font-family: $brand-serif;
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: normal;
    &>a {
      color: white;
      &:hover, &:active, &:focus {
        color: $brand-bright-green;
        text-decoration: none;
      }
    }
  }

  .footerrow {
    text-align: center;
  }

  .footeraddresses {
    color: $brand-bright-green;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-weight: 300;

    a:hover, a:focus {
      color: white;
    }

    // dunno, ask communications
    .fa-map-marker {
      color: $brand-bright-green;
      font-size: 22px;
    }

    div {
      margin: 20px;
    }
  }

  .footersocialicons {
    margin: 20px auto;
    max-width: 530px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .footersocialicon {
      color: #1fbaf4;
      font-size: 24px;

      a, a:link, a:visited, a:hover, a:active {
        color: $brand-primary;
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: initial;
      }
    }
  }
}
@media (max-width: $screen-sm-max) {
  body {
    margin-bottom: $footer-height-xs + $footer-top-margin;
  }
  #footer {
    height: $footer-height-xs;

    .footerlogo {
      width: 300px;
      img {
        width: 100%;
      }
    }
  }
}
