.homepage-content-wrapper {
  margin-top: (-1 * $navbar-margin-bottom); /* overcome the bottom margin on navbar */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0 !important; /* overcome id-based css */

  figure.hero-image {
    position: relative; /* allow absolute positioning of caption */
    padding-left: 0; /* overcome the padding on grid columns */
    padding-right: 0; /* overcome the padding on grid columns */
    img {
      width: 100%;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $transparent-background;
      padding: 5px 10px;
      @include all-white-links;
      font-weight: 300;
      font-style: italic;
    }
  }

  .digital-description {

    .pre-heading {
      @extend %special-label;
      color: $special-label-muted-color;
      margin-bottom: 3px;
      margin-top: $line-height-computed;
    }

    h2 {
      margin-top: 0;
    }
  }

  .chf-callout-button {
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: 0.04em;
  }

  .search-container {
    padding-left: 5px;
    padding-right: 5px;
  }

   @media (min-width: $screen-md-min) {
    .home-right-column {
      // crazy way to keep .search-container vertically centered
      $hero-aspect-ratio: 1.366; // w divided by height of hero image in left column
      // width of hero image (col-md-5) is 6/12. Make that expressed in vw, for screen width.
      // Then Divided by aspect ratio is it's height.
      // make this height the same. But account for ~20px scrollbar on some browser/OS.
      height: calc(((600vw / 12) - 20px) / #{$hero-aspect-ratio});
      display: flex;
      flex-direction: column;
      justify-content: center;

      .search-container {
        max-width: 38em; // keep the lines from going too long on big screens
        min-height: 70%;
        // and then center it.
        margin-left: auto;
        margin-right: auto;
        .pre-heading  {
          margin-top: 0;
        }
      }
    }
  }

  .search-callouts {
    .input-group {
      min-height: 46px;
      input.q, button {
        min-height: 46px;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      /* vertically line up with header when side-by-side */
      /* stacks with searchbar margin to equal 20 */
      margin-top: 13px;
    }
  }

  $categories-box-width: 350px;
  $categories-box-height: 350px;
  $categories-box-margin: 59px;

  .categories-list {
    background-color: $brand-dark-grey;
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .collection {
      position: relative;
      width: $categories-box-width;
      height: $categories-box-height;
      margin: $categories-box-margin;

      .collection-title-wrapper {
        /* overlay on image */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        color: $brand-dark-blue;
        background-color: $brand-bright-green;
        padding: 10px;

        .collection-title {
          text-align: center;
          font-weight: $semi-bold-weight;
          text-transform: uppercase;
          font-size: 18px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }

  .featured-collection-callouts {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    .featured-collection-callouts {
      margin-top: 30px;
    }
  }
  @media (min-width: $screen-sm-min) {
    .featured-collection-container {
      background-color: white;
      display: flex;
      align-items: center;
      .featured-collection-callouts {
        margin-left: 10%;
        margin-right: 2%;
        /*margin: 0 2% 0 10%;*/
        h2 {
          margin-top: 0;
        }
      }
    }
  }

  .featured-collection-image {
    padding: 0;
    img {
      width: 100%;
    }
  }
}
