.nav-search-form {
  position: relative;
  margin-bottom: 0;
  max-width: 470px;
  @media (max-width: $grid-float-breakpoint-max) {
    padding: $nav-link-padding;
    max-width: 100%;
  }

  // hacky way to give this bigger radius than most of our inputs
  #search-field-header {
    border-top-left-radius: $btn-border-radius-base;
    border-bottom-left-radius: $btn-border-radius-base;
  }
  .input-group button {
    border-top-right-radius: $btn-border-radius-base;
    border-bottom-right-radius: $btn-border-radius-base;
  }
}



// styles that apply whether in masthead or home page, or just on homepage,
// some are overridden below in .masthead
.search-options {
  h3, label {
    @extend %special-label;
    display: inline;
    margin: 0 .66em 0 0;
    input[type="checkbox"] {
      margin-top: 6px;
    }
  }
  .search-option-year {
    display: inline;
    width: 9ch;
  }
  .form-group {
    margin: 0;
    &:first-child {
      margin-bottom: 1em;
    }
  }
  input {
    border-radius: $btn-border-radius-base;
  }
}

// styles for slide-out only when in masthead, not when on home page
.masthead {
  @media (max-width: $grid-float-breakpoint-max) {
    .search-options {
      h3, label {
        color: white;
      }
    }
  }

  .nav-search-form .btn {
    color: $brand-dark-blue;
  }

  .nav-search-form:not(.force-expanded) {
    padding-bottom: 16px - $padding-large-vertical;

    .search-options {
      display: none;
      position: absolute;
      width: 100%;

      background: $brand-light-grey;
      border: 1px solid transparent;
      box-shadow: 0 20px 40px 10px rgba(0,0,0,0.5);
      border-radius: 0 0 $btn-border-radius-base $btn-border-radius-base;
      color: $brand-dark-blue;

      h3, label {
        color: $brand-dark-blue;

      }

      .form-group {
        // make slide out look better using padding instead of margin, plus
        // get everything nicely spaced.
        margin: 0;
        padding: ($form-group-margin-bottom / 2) $form-group-margin-bottom;
      }
    }
  }
}
