// Has some non-DRY things shared with collection-show.scss that could/should
// be abstracted out into mixins or shared classes.

.work-show {
  padding: 0 15px;

  .show-admin {
    text-align: right;
    margin-bottom: $line-height-computed;
    .show-actions {
      padding: 0;
    }
  }


  $column-gutter: 20px;
  $max-image-column: 545px;
  // this is the point the image column is 'naturally' 525px, any bigger it's 'naturally' bigger
  $max-image-column-breakpoint: 1150px;
  $thumb-horizontal-margin: 4px;


  .work-show-representative {
    max-width: $max-image-column; // even when collapsed to no columns
    margin-left: auto;
    margin-right: auto;
  }


  @media (min-width: $screen-sm-min) {
    .show-representative, .show-metadata, .show-title {
      width: 50%;
      padding: 0 15px;
      display: inline-block;
    }
    .show-representative {
      float: left;
      padding-left: 0;
      padding-right: $column-gutter;
    }

    .show-metadata, .show-title {
      float: right;
      padding-right: 0;
    }
  }

  @media (min-width: $max-image-column-breakpoint) {
    // some crazy CSS calc arithmatic to keep the main image and the thumbs under it
    // at $max-image-column, with still column break centered.
    .show-representative {
      width: $max-image-column;
    }
    .show-title, .show-metadata {
      width: calc(50% + (50% - #{$max-image-column}));
    }


    & { // work-show
      width: calc(100% - (50% - #{$max-image-column}));
      position: relative;
      left: calc(50% - #{$max-image-column} - #{$column-gutter}) ;
    }

    .show-page-image-wrapper.thumb {
      width: ($max-image-column / 3 - ($thumb-horizontal-margin * 3)) !important;
    }
  }

  .show-genre {
    @extend %special-label;
    letter-spacing: 0.05em;
    color: $special-label-muted-color;
    margin-bottom: 2px;
  }

  .show-permission-badge {
    font-size: 16px;
    margin-bottom: 15px;
    .label {
      font-size: $font-size-base - 2px;
    }
  }

  .show-title {
    margin-bottom: $paragraph-spacer;
  }

  header h1 {
    @extend .h2;
    @extend .brand-alt-h2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .additional-titles, .parent-works {
    margin-bottom: 0;
    &, h2 {
      font-family: $brand-alt-header-font;
      font-weight: normal;
      @extend h3;
      margin-bottom: 0;
      margin-top: 0;
    }
    li {
      margin-top: $paragraph-spacer / 2;
    }
  }

  .show-date {
    @extend %text-font-numerals;
    ul {
      @extend .list-unstyled;
      margin-bottom: 0;
    }
    margin-top: $paragraph-spacer;
  }

  .show-user-actions {
    margin-bottom: $paragraph-spacer;
  }

  .rights-and-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: ($paragraph-line-height / 2) 0;


    .rights-statement.large, .social-media {
      padding: 0;
      margin-bottom: $paragraph-spacer;
    }

    .rights-statement.large {
      margin-right: $line-height-computed;
    }

    .social-media {
      padding-top: 12px;
    }
  }

  .rights-statement.large {
    margin-top: 15px;

    @include clearfix;

    .rights-statement-logo {
      width: 36px;
      height: 36px;
      float: left;
      margin-right: 0.5em;
      margin-top: 4px;
    }
    .rights-statement-label {
      display: inline-block;
      font-size: 19px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: $small-caps-letter-spacing;
      font-weight: $semi-bold-weight;
    }
  }

  .work_description p {
    max-width: $max-readable-width;
  }


  // An image with overlaid action buttons and metadata, used for
  // representative image and thumbs on show page. Internal overlay
  // elements are absolutely positioned within it.
  .show-page-image {
    position: relative;
    cursor: zoom-in;

    .show-page-image-image {
      // not sure why inline-block seems now neccesary to get JS aspectratio setting to work
      display: inline-block;
      width: 100%;
      // sanity max-height to keep keep crazy long aspect ratio images from
      // totally ruining page. Very difficult to get this right based on
      // aspect ratio, cause the dimensions are so responsive. This is just
      // a rough huge limit, if it's not working out just delete this and give up.
      max-height: 300vw;
    }

    .show-page-member-title {
      position: absolute;
      padding: 7px;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparentize($brand-inverse, .3);
      color: transparentize($btn-primary-color, .3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .show-page-image-permission {
      .label {
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .show-page-image-wrapper.thumb {
    display: inline-block;
    vertical-align: bottom;
    width: 160px;
    margin: $thumb-horizontal-margin $thumb-horizontal-margin ($line-height-computed * 1.5) 0;

    img.show-page-image-image {
      width: 100%;
      &.lazyload, &.lazyloading {
        background: #AAA asset-url('static-progress.svg') no-repeat;
        background-position: center center;
        background-size: 50%;
      }
      vertical-align: bottom;
      min-height: 100px; // just so it's something!
    }

    .btn {
      @extend .btn-sm;
      border-radius: 2px;
    }

    @media (min-width: $screen-sm-min) {
      // 2 wide
      width: calc( ((50% - #{$column_gutter}) / 2) - (#{$thumb-horizontal-margin} * 1));
    }
    @media (min-width: 1000px) {
      // 3 wide
      width: calc( ((50% - #{$column_gutter}) / 3) - (#{$thumb-horizontal-margin} * 2) + 3px ); // no idea why that extra +2px, but it lines up right
    }
  }

  .show-page-image-bar {
    display: flex;
    width: 100%;
    margin-top: 4px;

    .btn-group {
      width: 100%;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 0;

      &:not(:last-child) {
        margin-right: 4px;
      }

      .btn {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .dropdown-menu {
        left: 5px;
      }
    }
    & > button, & > .btn, & > .btn-group > button {
      flex: 1;
      border-radius: 2px;
    }
  }
}

// This applies to image viewer too, where it's not inside a .work-show
// div, so has to be out here. Sorry that it's in this .scss file, work
// in progress.
.rights-statement-inline {
  .rights-statement-label {
    vertical-align: middle;
  }
  // turn br into space
  .rights-statement-label br {
    content: " ";
    &:after {
      content:" ";
    }
  }
  .rights-statement-logo {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}
