<%# copied from https://github.com/samvera/sufia/blob/v7.3.0/app/views/catalog/_search_form.html.erb
    to:
      * override searchbox dropdown visibility
      * make NOT include existing search, always new search
      * add a drop-down with extra limits
%>

<%= form_tag search_form_action, method: :get, class: "nav-search-form", id: "search-form-header", role: "search" do %>
  <%= hidden_field_tag :search_field, 'all_fields' %>
  <div class="input-group nav-search-text">

    <label class="sr-only" for="search-field-header"><%= t("sufia.search.form.q.label") %></label>
    <%= text_field_tag :q, '', class: "q form-control", id: "search-field-header", autocomplete: "off", placeholder: t("sufia.search.form.q.placeholder") %>

    <div class="input-group-btn">
      <button type="submit" class="btn btn-emphasis" title="Search" id="search-submit-header">
        <%= t('sufia.search.button.html') %>
      </button>
      <%# CHF edit to hide search dropdown for non-staff users %>
      <% if current_ability.current_user.staff? %>
        <button class="btn btn-emphasis dropdown-toggle" type="button" data-toggle="dropdown">
          <span data-search-element="label"><%= t("sufia.search.form.option.all.label_long") %></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li>
            <%= link_to t("sufia.search.form.option.all.label_long"), "#",
                data: { "search-option" => main_app.search_catalog_path, "search-label" => t("sufia.search.form.option.all.label_short") } %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to t("sufia.search.form.option.my_works.label_long"), "#",
                  data: { "search-option" => sufia.dashboard_works_path, "search-label" => t("sufia.search.form.option.my_works.label_short") } %>
            </li>
            <li>
              <%= link_to t("sufia.search.form.option.my_collections.label_long"), "#",
                  data: { "search-option" => sufia.dashboard_collections_path, "search-label" => t("sufia.search.form.option.my_collections.label_short") } %>
            </li>
            <li>
              <%= link_to t("sufia.search.form.option.my_shares.label_long"), "#",
                  data: { "search-option" => sufia.dashboard_shares_path, "search-label" => t("sufia.search.form.option.my_shares.label_short") } %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div><!-- /.input-group-btn -->

  </div><!-- /.input-group -->

  <div class="search-options">

     <div class="form-group">
      <h3>Limit Dates</h3>
      <label class="sr-only" for="search-option-date-from">From</label>
      <input type="text" inputmode="numeric" name="range[year_facet_isim][begin]" class="form-control search-option-year" autocomplete="off" placeholder="from" id="search-option-date-from" pattern="[0-9]{3,4}" title="start year (yyyy)">
      &nbsp;&ndash;&nbsp;
      <label class="sr-only" for="search-option-date-to">From</label>
      <input type="text" inputmode="numeric" name="range[year_facet_isim][end]" class="form-control search-option-year"  autocomplete="off" placeholder="to" id="search-option-date-from" pattern="[0-9]{3,4}" title="end year (yyyy)">
    </div>

    <div class="form-group checkbox">
      <label for="filter_public_domain"><%= check_box_tag 'filter_public_domain', value=1 %> Public Domain Only </label>
    </div>
  </div>
<% end %>
