<%# override blacklight to add our extra links
https://github.com/projectblacklight/blacklight/blob/v6.7.2/app/views/catalog/_search_sidebar.html.erb
%>

<%= render 'facets' %>

<% if params[:q].present? %>
  <div class="other-searches sidenav panel panel-default hidden-xs">
    <div class="top-panel-heading panel-heading">
      Other search tools
    </div>

    <ul class="list-group">
      <li class="list-group-item"><%= link_to "https://www.sciencehistory.org/search/site/#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::PATH)}" do %>
        <span class="fa fa-search"></span>  Science History Institute
      <% end %></li>
      <li class="list-group-item"><%= link_to "http://othmerlib.sciencehistory.org/search/?searchtype=X&SORT=D&searcharg=#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::QUERY)}" do %>
        <span class="fa fa-search"></span>  Othmer Library Catalog
      <% end %></li>
      <li class="list-group-item"><%= link_to "https://oh.sciencehistory.org/search/site/#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::PATH)}" do %>
        <span class="fa fa-search"></span>  Oral Histories
      <% end %></li>
    </ul>
  </div>
<% end %>
