# See http://www.robotstxt.org/robotstxt.html for documentation on how to use the robots.txt file
#
#
<% if CHF::Env.production? %>
# production robots.txt
User-agent: *
Disallow:
Crawl-delay: 5

Sitemap: https://s3.amazonaws.com/<%= CHF::Env.lookup("sitemap_s3_bucket") %>/sitemap/sitemap.xml.gz

<% else %>
# non-production robots.txt

# let twitter scrape cards metadata for testing
User-agent: Twitterbot
Disallow:

User-agent: *
Disallow: /

<% end %>
