<%# overrides https://github.com/projecthydra/sufia/blob/v7.3.0/app/views/_masthead.html.erb %>
<% if current_ability.current_user.staff? %>
  <%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>
  <nav id="staff-navbar" class="navbar navbar-inverse navbar-static-top staff-navbar" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="staff-navbar-collapse">
        <%# TODO: make these collapse to hamburger on mobile? two hamburgers is weird but it takes up lots of space otherwise %>
        <%= render '/toolbar' %>
        <%= render '/user_util_links' %>
      </div>
    </div>
  </nav>
<% end %>
<nav id="masthead" class="masthead navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <%# these make the hamburger %>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render '/logo' %>
      <h1 class="masthead-title small-masthead-only"><%= link_to "Digital Collections", main_app.root_path %></h1>
    </div>



    <div class="collapse navbar-collapse pull-right" id="top-navbar-collapse" role="navigation">
      <div class="masthead-right">
        <h1 class="masthead-title large-masthead-only"><%= link_to "Digital Collections", main_app.root_path %></h1>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(:'sufia.controls.about'), sufia.about_path, :'data-no-turbolink'=>"true" %></li>
          <li><%= link_to "FAQ", main_app.faq_path %></li>
          <li><%= link_to t(:'sufia.controls.contact'), sufia.contact_path %></li>
        </ul><!-- /.nav -->

        <% unless content_for(:suppress_controls) %>
          <div class="nav navbar-nav navbar-right">
            <%= render partial: 'catalog/search_form' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
